<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SleniumFramework">
	<test name="ecommerce test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>		
		<class name="com.ecommerce.testCases.AccountcreateTest" />
		<class name="com.ecommerce.testCases.CheckoutTest" />
		<class name="com.ecommerce.testCases.IndexTest" />
		<class name="com.ecommerce.testCases.LoginTest" />
		<class name="com.ecommerce.testCases.NewsletterTest" />
		<class name="com.ecommerce.testCases.SummerDressesTest" />
		<class name="com.ecommerce.testCases.Verify_SortingTest" />
		
		</classes>
		</test>
	
</suite>